body{
    margin: 0;
}

.image{
    background-image: url("https://github.com/user-attachments/assets/5a92c56e-3962-4a49-afdc-f3d0d5fed42f");
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    
    background-size: 100%100%;
    position: relative;

}

.text{
    color: black;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    position: center;
}












