body{
    background-image: url(https://github.com/user-attachments/assets/2241e53a-49f9-47cf-9822-ffed8642b645);
    position: fixed;
    background-position: center;
    height: auto;
    max-width: auto;
  
    

}

.text{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}












